/* This file contains the CSS styles for the project. */
body{
    font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: royalblue;
}

h1 {
color: #d29898;
}

p {
color: #d29898;
line-height: 1.5;
}

.container {
width: 80%;
margin: auto;
overflow: hidden;
}

.header {
background: #1395e7;
color: #ffffff;
padding: 20px 20px 20px 20px;
text-align: center;
}

.footer {
background: rgb(12, 200, 221);
text-decoration: #47e39f;
text-align: center;
padding: 100px 0;
position: relative;
bottom: 0;
width: 100%;
}
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .container {
        width: 100%;
        margin: 0;
    }

    .header, .footer {
        padding: 20px 10px;
        text-align: center;
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}